{{#each erros}}
<div class="container alert alert-danger"><h4>{{texto}}</h4></div>
{{else}}
{{/each}}

<h1>Editar Produto</h1>
<div class="card">
    <div class="card-body">
        <form action="/hamburguers/edit" method="POST">
        <label for="nome">Nome: </label>
        <input type="text" name='nome' class='form-control' required value="{{hamburguer.nome}}">
        {{#each hamburguer.ingredientes}}
        <div class="form-row ingrediente" id='{{@index}}'>
            <div class="form-group col-md-4">
                <label for="ingrediente">Ingredientes: </label>
                <select class="form-control produto" onchange="calcs.cost()" name='ingredientes'>
                    <option value="{{this}}|{{lookup ../hamburguer.idIgrediente @index}}" class="pastIng"></option>
                    {{#each ../produtos}}
                    <option value="{{descricao}}|{{_id}}" id='{{_id}}'>{{descricao}} - R${{custo}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="quantidade">Quantidade: </label>
                <input type="text" name="quantidade" class="form-control quantidade" onchange="calcs.cost()" value="{{lookup ../hamburguer.quantidade @index}}" required>
            </div>
            <div class="form-group col-md-3" >
                <label for="custo">Custo Ingrediente: </label>
                <input type="text" class="form-control custo" name="custo" value="{{lookup ../hamburguer.custo @index}}">
            </div>
            <div class="form-group col-md-0 mt-4">
                <button type="button" class="btn btn-primary btn-sm mt-2 create" onclick="cloneIngredients.create()">+</button>
            </div>
            <div class="form-group col-md-0 mt-4">
                <button type="button" class="btn btn-danger btn-sm mt-2 del" onclick="cloneIngredients.del({{@index}})">-</button>
            </div>
        </div>
        {{/each}}
        <div id="ingredients"></div>
        <div class="form-row">
            <div class="form-group col-md-3" >
                <label for="custoFinal">Custo Produto: </label>
                <input type="text" id="custoFinal" class="form-control" name="custoFinal" value="{{hamburguer.custoFinal}}">
            </div>
            <div class="form-group col-md-3" >
                <label for="venda">Venda: </label>
                <input type="text" id="venda" class="form-control" name="venda" required value="{{hamburguer.venda}}">
            </div>
            <div class="form-group col-md-3" >
                <label for="markup">Markup: (%)</label>
                <input type="text" id="markup" class="form-control" name="markup" required value="{{hamburguer.markup}}">
            </div>
            <div class="form-group col-md-3" >
                <label for="margem">Margem: (%)</label>
                <input type="text" id="margem" class="form-control" name='margem' required value="{{hamburguer.margem}}">
            </div>
            <input type="hidden" name="id" value="{{hamburguer._id}}">
        </div>
        <div class="form-group col-md-4">
                <button type="submit" class="btn btn-success mt-4">Editar Produto!</button>
            </div>
        </form>
    </div>
</div>

<script>

const html = {
    get: element => document.querySelector(element),
    id: element => document.getElementById(element),
    all: element => document.querySelectorAll(element),
}


const elements = {
    pastIng: html.all(".pastIng"),
    ingredient: html.get('.ingrediente'),
    ingredients: html.get('#ingredients'),
    margin: html.get('#margem'),
    markup: html.get('#markup'),
    sell: html.get('#venda'),
    finalCost: html.get('#custoFinal'),
}

const pastIngredient = {
    eachPast: element => {
        const id = element.value.split("|")[1]
        const innerTextE = html.id(id).innerText
        element.innerText = innerTextE
    },
    tratamento() {
        elements.pastIng.forEach(pastIngredient.eachPast)
    },
}

const cloneIngredients = {
    create: _ => {
        let index = html.all('.ingrediente').length - 1
        let indexBtn = Number.parseInt(html.all('.ingrediente')[index].id) + 1

        let clone = elements.ingredient.cloneNode(true)
        clone.setAttribute('id', indexBtn)
        elements.ingredients.appendChild(clone)

        let del = html.all('.del')[index + 1]
        del.setAttribute("onclick", `cloneIngredients.del(${indexBtn})`)

        calcs.cost()
    },
    del: index => {
        let element = html.id(index)
        element.remove()
        calcs.cost()
    }
}
const controls = {
    createListeners: _ => {
        html.get('#venda').addEventListener('change', () => {
            calcs.margin()
        })
        html.get('#markup').addEventListener('change', () => {
            calcs.markup()
        })
    }
}
const calcs = {
    turnNumber: number => Number.parseFloat(number.replace(',', '.')),
    sell: (product, i, cs, amount) => calcs.turnNumber((product[i].options[product[i].selectedIndex].text).split('$')[cs]) * amount,
    cost: _ => {
        let cost = 0
        let costEl = html.all('.custo')
        let index = html.all('.ingrediente').length - 1
        for(i=0; i <= index; i++){
            let product = html.all('.produto')
            let amountEl = html.all('.quantidade')[i]
            let amount = calcs.turnNumber(amountEl.value).toFixed(3)
            cost += calcs.sell(product, i, 1, amount)
            amountEl.value = amount
            costEl[i].value = (calcs.sell(product, i, 1, amount)).toFixed(2)
        }
        elements.finalCost.value = (cost + 2).toFixed(2)
        calcs.margin()
    },
    margin: _ => {
        let sell = calcs.turnNumber(html.get('#venda').value)
        let cost = calcs.turnNumber(html.get('#custoFinal').value)
        elements.margin.value = ((sell - cost) / sell * 100).toFixed(0)
        elements.markup.value = (((sell / cost) - 1) * 100).toFixed(0)
    },
    markup: _ => {
        let markup = calcs.turnNumber(html.get('#markup').value)
        let cost = calcs.turnNumber(html.get('#custoFinal').value)
        let calc = (cost * ((markup / 100) + 1)).toFixed(0)
        elements.sell.value = calc
        elements.margin.value = ((calc - cost) / calc * 100).toFixed(0)
    }
}
function init() {
    controls.createListeners()
    pastIngredient.tratamento()
}
init()
</script>

