{{#each erros}}
<div class="container alert alert-danger"><h4>{{texto}}</h4></div>
{{else}}
{{/each}}

<h1>Cadastrar Novo Produto</h1>
<div class="card">
    <div class="card-body">
        <form action="/hamburguers/edit" method="POST">
        <label for="nome">Nome: </label>
        <input type="text" name='nome' class='form-control' required value="{{hamburguer.nome}}">
        {{#each hamburguer.ingredientes}}
        <div class="form-row ingrediente">
            <div class="form-group col-md-4">
                <label for="ingrediente">Ingredientes: </label>
                <select class="form-control produto" name='ingredientes' onchange="calcularCusto()">
                    <option value="{{this}}|{{lookup ../hamburguer.idIgrediente @index}}" class="ingredienteVindo">{{this}} - R${{lookup ../hamburguer.custo @index}}¬{{lookup ../hamburguer.quantidade @index}}</option>
                    {{#each ../produtos}}
                    <option value="{{descricao}}|{{_id}}" >{{descricao}} - R${{custo}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="quantidade">Quantidade: </label>
                <input type="text" name="quantidade" class="form-control quantidade" onchange="calcularCusto()" value="{{lookup ../hamburguer.quantidade @index}}" required>
            </div>
            <div class="form-group col-md-3" >
                <label for="custo">Custo Ingrediente: </label>
                <input type="text" class="form-control custo" name="custo" value="{{lookup ../hamburguer.custo @index}}">
            </div>
            <div class="form-group col-md-1">
                <a class="btn btn-primary btn-sm mt-4" onclick="criarNovoIngrediente();calcularCusto();">Add Ingredientes</a>
            </div>
            <div class="form-group col-md-1">
                <a class="btn btn-danger btn-sm mt-4 deletarIg">Del Ingredientes</a>
            </div>
        </div>
        {{/each}}
        <div class="ingredientes"></div>
        <div class="form-row">
            <div class="form-group col-md-3" >
                <label for="custoFinal">Custo Produto: </label>
                <input type="text" id="custoFinal" class="form-control" name="custoFinal" value="{{hamburguer.custoFinal}}">
            </div>
            <div class="form-group col-md-3" >
                <label for="venda">Venda: </label>
                <input type="text" id="venda" class="form-control" name="venda" onchange="calcularMargem()" required value="{{hamburguer.venda}}">
            </div>
            <div class="form-group col-md-3" >
                <label for="markup">Markup: (%)</label>
                <input type="text" id="markup" class="form-control" name="markup" onchange="vendaMarkup()" required value="{{hamburguer.markup}}">
            </div>
            <div class="form-group col-md-3" >
                <label for="margem">Margem: (%)</label>
                <input type="text" id="margem" class="form-control" name='margem' required value="{{hamburguer.margem}}">
            </div>
            <input type="hidden" name="id" value="{{hamburguer._id}}">
        </div>
        <div class="form-group col-md-4">
                <button type="submit" class="btn btn-success mt-4">Enviar Hamburguer!</button>
            </div>
        </form>
    </div>
</div>

<script>
    let ingredienteVindo = document.getElementsByClassName('ingredienteVindo')
    Array.from(ingredienteVindo).forEach(element =>{
        element.innerText = element.innerText.split("$")[0] + "$" + Number.parseFloat(((element.innerText).split("$")[1]).split("¬")[0]) / Number.parseFloat(((element.innerText).split("$")[1]).split("¬")[1])
    })
    let ingrediente = document.getElementsByClassName("ingrediente")[0]
    let indice = document.getElementsByClassName("ingrediente").length + 1
    let indices = document.getElementsByClassName("ingrediente").length + 1
    let indiceBotao = document.getElementsByClassName("ingrediente").length + 1
    const criarNovoIngrediente = ()=>{
        let ingredientes = document.getElementsByClassName("ingredientes")[0]
        let clone = ingrediente.cloneNode(true)
        clone.setAttribute('id', indice)
        ingredientes.appendChild(clone)
        let deletarIg = document.getElementsByClassName("deletarIg")[indiceBotao - 1]
        deletarIg.setAttribute("onclick", "deletarIngrediente("+indice+");calcularCusto();")
        indiceBotao++
        indice++
    }
    const calcularMargem = ()=>{
        let venda = Number.parseFloat((document.getElementById('venda').value).replace(',', '.'))
        let custo = Number.parseFloat(document.getElementById('custoFinal').value)
        let margem = document.getElementById('margem')
        let markup = document.getElementById('markup')
        let calculoMargem = ((venda - custo) / venda * 100).toFixed(0)
        let calculoMarkup = (((venda / custo) - 1) * 100).toFixed(0)
        margem.value = calculoMargem
        markup.value = calculoMarkup
    }
    const calcularCusto = ()=>{
        for(i=0; i < indiceBotao; i++){
            let produto = document.getElementsByClassName("produto")
            let quantidade = document.getElementsByClassName("quantidade")[i].value
            let custo = document.getElementsByClassName('custo')[i]
            let valorCusto = (Number.parseFloat(((((produto[i].options[produto[i].selectedIndex].text)).split('$'))[1]).replace(',', '.')) * Number.parseFloat(quantidade.replace(',', '.'))).toFixed(2)
            custo.value = valorCusto
            let custoF = document.getElementsByClassName('custo')
            let custoFinal = 0
            document.getElementsByClassName("quantidade")[i].value = Number.parseFloat(quantidade.replace(',', '.')).toFixed(3)
            for(x=0; x < custoF.length; x++){
                custoFinal += Number.parseFloat(custoF[x].value)
                document.getElementById('custoFinal').value = custoFinal.toFixed(2)
            }
        }
        i=0
        calcularMargem()
    }
    const vendaMargem = ()=>{
        let margem = Number.parseFloat((document.getElementById('margem').value).replace(',', '.'))
        let custo = Number.parseFloat(document.getElementById('custoFinal').value)
        let venda
    }
    const vendaMarkup = ()=>{
        let markup = Number.parseFloat((document.getElementById('markup').value).replace(',', "."))
        let custo = Number.parseFloat(document.getElementById('custoFinal').value)
        let calculoVenda = (custo * ((markup / 100) + 1)).toFixed(0)
        let venda = document.getElementById('venda')
        venda.value = calculoVenda
        let lucroLiquido = calculoVenda - custo
        let calculoMargem = (lucroLiquido / calculoVenda * 100).toFixed(0)
        margem.value = calculoMargem
    }
    const deletarIngrediente = (index)=>{
        let iddIgrediente = document.getElementById(index)
        iddIgrediente.remove()
        indiceBotao--
    }
</script>

