<div class="relatorio-vendas">
  <h1>Relatório de Vendas</h1>

  {{#each vendas}}
    <table>
      <thead>
        <tr class="venda-header">
          <td colspan="6">
            <strong>Cliente:</strong> {{cliente}} |
            <strong>Endereço:</strong> {{endereco}} |
            <strong>Data:</strong> {{data}}
          </td>
        </tr>
        <tr>
          <th>Produto</th>
          <th>Qtd</th>
          <th>Venda (R$)</th>
          <th>Custo (R$)</th>
          <th>Markup (%)</th>
          <th>Margem (%)</th>
        </tr>
      </thead>
      <tbody>
        {{#each itens}}
          <tr>
            <td>{{nome}}</td>
            <td>{{quantidade}}</td>
            <td>{{formataMoeda venda}}</td>
            <td>{{formataMoeda custoFinal}}</td>
            <td>{{formataPorcentagem markup}}</td>
            <td>{{formataPorcentagem margem}}</td>
          </tr>
        {{/each}}
        <tr class="total">
          <td>Totais:</td>
          <td>{{qtdTotal}}</td>
          <td>R$ {{formataMoeda vendaTotal}}</td>
          <td>R$ {{formataMoeda custoVenda}}</td>
          <td>{{formataPorcentagem markup}}</td>
          <td>{{formataPorcentagem margem}}</td>
        </tr>
      </tbody>
    </table>
  {{/each}}

  <hr>
  <h3 style="margin-top: 30px;">Totais do Relatório</h3>
  <table class="totais-relatorio">
    <thead>
      <tr>
        <th>Total Qtd</th>
        <th>Total de Vendas</th>
        <th>Custo Total</th>
        <th>Taxa Total</th>
        <th>Markup Total</th>
        <th>Margem Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{totais.quantidade}}</td>
        <td>{{formataMoeda totais.venda}}</td>
        <td>{{formataMoeda totais.custo}}</td>
        <td>{{formataMoeda totais.taxa}}</td>
        <td>{{formataPorcentagem totais.markup}}</td>
        <td>{{formataPorcentagem totais.margem}}</td>
      </tr>
    </tbody>
  </table>

{{#unless isPDF}}
<form method="GET" action="/relatorios/vendas/pdf" target="_blank">
  <input type="date" id="dataInicial" name="dataInicial" value="{{dataInicial}}" hidden/>
  <input type="date" id="dataFinal" name="dataFinal" value="{{dataFinal}}" hidden/>
  <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-primary btn-slim">Gerar PDF</button>
  </div>
</form>
{{/unless}}
</div>