{{#each erros}}
<div class="container alert alert-danger"><h4>{{texto}}</h4></div>
{{/each}}

<h1 class="titulo">✏️ Editar Venda de {{venda.cliente}}</h1>
<div class="card-personalizada">
    <div class="card-body-personalizada">
		<form action="/vendas/nova/" method="POST">
			<div class="form-row-personalizada">
                <div class="form-group-10">
					<label for="cliente">Cliente:</label>
					<input type="text" name="cliente" class="input-texto" value="{{venda.cliente}}" required>
				</div>
                <div class="form-group-4">
					<label for="data">Data Venda:</label>
					<input type="date" id="data" class="input-texto" name="data">
				</div>
                <div class="form-group-4">
                    <label class="invisivel">Adicionar</label>
                    <button class="botao-adicionar create" type="button" id="btnAdicionarIngrediente">+ Ingrediente</button>
                </div>
			</div>
            <div class="form-row-personalizada">
                <div class="form-group-12">         
                    <label for="endereco">Endereço:</label>
                    <input type="text" class="input-texto" name="endereco" value="{{venda.endereco}}" required>
                </div>
            </div>
            {{#each venda.produto}}
                <div class="form-row-personalizada ingrediente" id="{{@index}}">
                    <div class="form-group-10">
                        <label for="produto">Produto: </label>
                        <select class="input-select produto" name='produtos' onchange="calcularCusto()">
                        {{#each ../prato}}
                            {{#ifEquals _id ../this}}
                                <option selected value="{{../this.nome}}|{{../this._id}}">{{../this.nome}} || Custo: R${{../this.custoFinal}} || Venda: R${{../this.valorPrato}}</option>
                            {{else}}
                                <option value="{{../this.nome}}|{{../this._id}}">{{../this.nome}} || Custo: R${{../this.custoFinal}} || Venda: R${{../this.valorPrato}}</option>
                            {{/ifEquals}}
                        {{/each}}
                        </select>
                    </div>
                    <div class="form-group-4">
                        <label for="quantidade">Quantidade: </label>
                        <input type="text" name="quantidade" class="input-texto quantidade" onchange="calcularCusto()" value="{{lookup ../venda.quantidade @index}}" required>
                    </div>
                    <div class="form-group-4">
                            <label class="invisivel">Deletar</label>
                            <button type="button" class="botao-deletar del" onclick="cloneIngredients.del({{@index}})">- Ingrediente</button>
                    </div>
                </div>
            {{/each}}
			<div id="ingredients"></div>

			<div class="form-row-personalizada">
                <div class="form-group-3">
					<label for="custoFinal">Custo Produto:</label>
					<input type="text" id="custoFinal" class="input-texto" name="custoVenda" value="{{venda.custoVenda}}" required>
				</div>
				<div class="form-group-3">
					<label for="entrega">Taxa de entrega:</label>
					<input type="text" id="entrega" class="input-texto" name="taxa" value="{{venda.taxa}}" required>
				</div>
				<div class="form-group-3">
					<label for="venda">Total Venda:</label>
					<input type="text" id="venda" class="input-texto" name="venda" value="{{venda.venda}}" required>
				</div>
				<div class="form-group-3">
					<label for="markup">Markup: (%)</label>
					<input type="text" id="markup" class="input-texto" name="markup" value="{{venda.markup}}" required>
				</div>
				<div class="form-group-3">
					<label for="margem">Margem: (%)</label>
					<input type="text" id="margem" class="input-texto" name="margem" value="{{venda.margem}}" required>
				</div>
			</div>
            <div class="form-row-personalizada">
                <div class="form-group-4">
					<button type="submit" class="botao-enviar">Editar Venda</button>
                </div>
			</div>
		</form>
	</div>
</div>

<script src="/js/VendaCalculator.js"></script>